#page__nav{
    background-color: #3aafa9 !important;
    height: 80px;
    font-size: large;
    z-index: 999;
}

.nav__fontcolor{
    margin-left: 5px;
    padding: 5px;
    color: #17252A !;
}

.nav__fontcolor:hover{
    color: white !important;
    background-color: #1a403c;
    border-radius: 5px;
}